.json-viewer {
  font-family: Menlo;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.5;
  
  .bracket {
    color: #4f5555;
  }

  label {
    font-weight: bold;
  }

  section {
    padding-left: 2em;
  }
}