.jsonViewer {
  text-align: left;
  line-height: 1.5;
  background-color: #F5F5F5;
  
  .bracket {
    color: #282c34;
  }

  label {
    font-weight: bold;
  }

  section {
    padding-left: 2em;
  }

  button.expand-btn {
    outline: 1px solid hsla(226, 37%, 51%, 1);
    border: none;
    background-color: transparent;
    font-size: 0.8em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1;
    padding: 0;
  }
}